@charset "utf-8";
/*:::::::::: main-S ::::::::::*/
/****** visual-S ******/
.visual{width: 100%;height: 500px;
    background: url(../img/sub01-visual-bg.jpg) no-repeat 0 0;background-size: cover;
}
.visual strong{
    font-size: 55px;font-weight: 600;color: #fff;line-height: 1;
}
.visual h2{
    font-size: 48px;font-weight: 100;color: #fff;line-height: 60px;
}
.visual p{
    font-weight: 300;color: #fff;line-height: 1;
}
/****** visual-E ******/
/****** lnb-S ******/

/****** lnb-E ******/
/****** snb-S ******/
/****** snb-E ******/